/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2c3e50; /* 진한 네이비 색 */
    --secondary-color: #2980b9; /* 포인트 파란색 */
    --background-color: #ecf0f1; /* 밝은 배경색 */
    --text-color: #333;
    --header-color: #ffffff;
    --footer-bg-color: #34495e;
    --footer-text-color: #bdc3c7;
}

/* 전체 배경 및 글꼴 */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.8;
}

header {
    background-color: #2E8B57; /* 초록색 계열 배경 */
    padding: 40px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #F4F7F4; /* 은은한 연초록색 배경 */
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

header nav a {
    color: var(--header-color);
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    transition: color 0.3s;
}

header nav a:hover {
    color: var(--secondary-color);
}

button {
    background-color: transparent;
    color: #2980b9; /* 버튼 텍스트는 로고와 어울리는 파란색 */
    padding: 5px 15px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: rgba(41, 128, 185, 0.1); /* 살짝 파란색 배경 */
    color: #2980b9;
}

/* 섹션 스타일 */
section {
    background-color: white;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section h2 {
    color: #2c3e50;
    font-size: 1.8em;
    margin-bottom: 10px;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}

section p, section ul {
    margin-top: 15px;
    color: #555;
}

section:hover {
    transform: scale(1.02);
}

/* 클럽 소개 스타일 */
.club {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.club:hover {
    transform: scale(1.03);
}

.club img {
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.club h3 {
    color: var(--primary-color);
    font-size: 1.2em;
}

.club a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 10px;
}

.club a:hover {
    text-decoration: underline;
}

section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 푸터 스타일 */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    font-size: 0.9em;
}
